networks: 
  spark:

services:
  mongodb:
    image: mongo:6
    container_name: spark_db
    networks:
      - spark
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root      # ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: password  # ${MONGO_PASSWORD}
    volumes:
      - ./docker_services/mongodb/data:/data/db

  backend:
    build: ./docker_services/backend
    container_name: spark_backend
    networks:
      - spark
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./docker_services/backend:/app/  # mount local files to container
      - /app/node_modules         # exclude local node_modules (anonymous volume)

  admin_web:
    build: ./docker_services/clients/admin_web
    container_name: spark_admin_web
    networks:
      - spark
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./docker_services/clients/admin_web:/app/  # mount local files to container
      - /app/node_modules         # exclude local node_modules (anonymous volume)
