:80 {
  root * /usr/share/caddy
  file_server
  try_files {path} {path}.html
  reverse_proxy /api* system:3000
  reverse_proxy /socket.io* system:3000 {
    transport http {
      keepalive 30s
    }
  }
  log {
    output stdout
  }
}