:80 {
    root * /usr/share/caddy
    file_server

    handle_path /shared/* {
    root * /shared
    file_server
    }

    handle /api/* {
        reverse_proxy system:3000
    }

    # handle /ws {
    #     reverse_proxy system:3000
    # }

    handle {
        try_files {path} {path}/index.html /index.html
    }
}